# Dependency directories
node_modules/

# Build outputs
.next/
out/
build/
dist/

# Coverage directory
coverage/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# TypeScript cache
*.tsbuildinfo
next-env.d.ts
